<section class="loginBg">
  <div class="ion-text-center loadingLogo">
    <img src="assets/images/logo_1.png" alt="Logo">
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div id="content" class="fullwidth">
          <div class="expand"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="loadingPercentage ion-text-center">
    <span id="counter_percent">0</span>%
    <br>
    <span id="loading">Loading...</span>
  </div>
  <p id="copyright">&#169; 2022 tekVizion PVS inc. All Rights Reserved</p>
</section>