
<ion-header>
  <ion-toolbar>
    <ion-title class="title">Historical Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="reports.length!==0 && charts.length===0" slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="container" class="ion-text-center">
    <div>
      <ion-card class="ion-text-left ion-margin-top">
        <ion-card-header>
          <ion-card-subtitle>
            <span>{{note.openDate.replace(" ", "T") | date:"medium"}}</span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{note.content}}
        </ion-card-content>
        <ion-card-content>
          <span id="note-author">{{note.openedBy.split("@")[0]}}</span>
        </ion-card-content>
      </ion-card>
      
      <div id="toggle-buttons" [ngClass]="{'title': !isChartsDataLoading && hasDashboardDetails}">
        <div *ngIf="!isChartsDataLoading && hasDashboardDetails">
          <ion-button class="left" (click)="onClickToggleButton(DAILY)" [ngClass]="{'active':selectedPeriod===DAILY}">{{DAILY | titlecase}}</ion-button>
          <ion-button class="right" (click)="onClickToggleButton(WEEKLY)" [ngClass]="{'active':selectedPeriod===WEEKLY}">{{WEEKLY | titlecase}}</ion-button>
        </div>
      </div>
      <ion-spinner *ngIf="isChartsDataLoading else chartsContent" name="dots"></ion-spinner>
      <ng-template #chartsContent>
        <image-card *ngFor="let chart of charts" [isLoading]="isChartsDataLoading" [imageBase64]="chart.imageBase64" [reportName]="chart.reportName"></image-card>
        <div *ngIf="!hasDashboardDetails else noReports" class="error-message">
          <ion-icon name="warning-outline"></ion-icon>
          <p>Failed to load the dashboard</p>
          <small>Please reach out to tekVizion support.</small>
        </div>
        <ng-template #noReports>
          <div *ngIf="charts.length===0" class="error-message">
              <p>No Reports available</p>
          </div>
        </ng-template>
      </ng-template>
    </div>    
  </div>
</ion-content>
