
<ion-content class="padding has-header">
    <div *ngIf="isiOS">
        <div style=" margin-top: 120px;">
        </div>
    </div>
    <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-spinner class="container" *ngIf="isNoteDataLoading else notesContent" name="dots"></ion-spinner>
<ng-template #notesContent>
    <div class = "container" *ngIf = "maintenance">
        <div id="service-description">
            <div class="banner-container"> 
              <strong> {{maintenanceAlert.title}} </strong> 
              <p> {{maintenanceAlert.message}} </p>
            </div>
          </div>
    </div>
   <div *ngIf="notes.length>0" class="container">
        <ion-list lines="none">
            <ion-list-header>
                <ion-label>{{notes.length}} open notes</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let note of notes" detail="false" expand="block" id="note-id" aria-label="note-label">
                <ion-card class="ion-text-left" [ngClass]="!note.current && 'inactive-card'">
                    <ion-card-header>
                    <ion-card-subtitle>
                        <span>{{note.openDate.replace(" ", "T") | date:"medium"}}</span>
                        <span *lcAccessControl="'closeNote'" class="ion-activatable delete-ripple circle ion-float-end">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-icon (click)="closeNote(note.id)" size="small" name="close-circle-outline"></ion-icon>
                        </span>
                    </ion-card-subtitle>
                    </ion-card-header>
                    <div>
                        <ion-card-content>
                            {{note.content}}
                        </ion-card-content>
                        <ion-card-content class="card-footer">
                            <span id="note-author">{{note.openedBy.split("@")[0]}}</span>
                            <small id="note-tag">
                                <ion-icon (click)="seeHistoricalReports(note)" name="bar-chart-outline"></ion-icon>
                            </small>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-item>
        </ion-list>
   </div>
   <div *ngIf="notes.length===0" class="empty-message">
       <div>
            <ion-icon name="document-text-outline"></ion-icon>
            <div class="ion-margin-top">No Notes yet.</div>
            <ion-button *lcAccessControl="'addNote'" class="ion-margin-top" [disabled]="maintenance" (click)="openAddNoteModal()">Add a note</ion-button>
       </div>
    </div>
   <ion-fab *lcAccessControl="'addNote'" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button *ngIf="notes.length>0" (click)="openAddNoteModal()" [disabled]="maintenance">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    </ng-template>
</ion-content>
