<ion-card color="light" class="ion-margin-bottom">
    <ion-card-header>
      <ion-card-title [id]="titleId">{{imageTitle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-spinner *ngIf="isLoading else content" name="dots"></ion-spinner>
            <ng-template #content>
              <img *ngIf="imageUrl" [src]="imageUrl"/>
              <div *ngIf="!imageUrl">
                <ion-icon name="warning-outline"></ion-icon>
                <p class="error-message">Something went wrong</p>
              </div>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
</ion-card>