ion-spinner {
  color: rgb(57, 79, 117);
}

ion-grid,ion-row{
  height: 100%;
}

ion-card{
box-shadow: none;
border-radius: 30px;
}

ion-icon{
  font-size: 50px;
  color: rgb(209, 209, 209);
}

.error-message{
  color: rgb(170, 170, 170);
}