<ion-content class="padding has-header">
  <div *ngIf="isiOS">
    <div style=" margin-top: 58px;">
    </div>
  </div>

  <div id="container">
    <div *ngIf = "maintenance">
      <div class="banner" style="padding-bottom: 0px;">
        <div class="banner-container"> 
          <strong>
            WARNING
          </strong> 
          <p>
            The Spotlight service is currently experiencing limited functionality due to ongoing maintenance. 
            However, users can still view historical reports on the dashboard. 
            Please note that during this maintenance period, the daily report and adding new notes is not available. 
          </p>
        </div>
      </div>
    </div>
    <div id="service-description">
      <strong class="ion-text-left center">{{serviceName}}</strong>
      <div>
        <ion-button class="left" (click)="onClickToggleButton(DAILY)" [ngClass]="{'active':selectedPeriod===DAILY}" [class.button-disabled]="maintenance">{{DAILY | titlecase}}</ion-button>
        <ion-button class="right" (click)="onClickToggleButton(WEEKLY)" [ngClass]="{'active':selectedPeriod===WEEKLY}">{{WEEKLY | titlecase}}</ion-button>
      </div>
    </div>
  </div>
 
  <div class="reportArea">
    <powerbi-report
    [embedConfig]="reportConfig" 
    [phasedEmbedding]=false
    [eventHandlers]="eventHandlersMap">
    </powerbi-report>
  </div>
</ion-content>
