#container {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#service-description{
  padding: 20px;
  font-style: bold;
  font-size: 1em;
}
#service-description strong{
  font-size: 1.2em;
}

.graphs ion-card {
  box-shadow: none;
  border-radius: 30px;
}

ion-card{
  border-radius: 20px;
}

.graphs-title div{
  font-size: 1.5em;
}
ion-button{
  color:#203c66;
  text-transform: none;
}