#container {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#service-description{
  padding: 20px;
  font-style: bold;
  font-size: 1em;
}
#service-description strong{
  font-size: 1.2em;
}


ion-card{
  border-radius: 15px;
}

.charts-title div{
  font-size: 1.5em;
}
ion-button{
  color:#203c66;
  text-transform: none;
}

#note-author{
  font-weight: bolder;
}

ion-icon{
  cursor: pointer;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 30px;
  height: 30px;
  margin-top: -7px;
  border-radius: 50%;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
}

#previous-notes{
  margin-top: 3px;
  color: #969696;
}

.lastUpdateInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#lastUpdateTime{
  display: flex;
  align-items: center;
  color: #969696;
  font-size: 12px;
}
#lastUpdateTime > ion-icon{
  font-size: 14px;
}

.error-message{
  color: rgb(209, 209, 209);
  margin: 40px 0px;
}

.error-message > ion-icon {
  font-size: 50px;
}
