<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="container" class="ion-text-center">
    <div>
      <div id="service-description" [ngClass]="{'title': !isChartsDataLoading && hasDashboardDetails}">
        <strong class="ion-text-center">{{serviceName}}</strong>
        <div *ngIf="!isChartsDataLoading && hasDashboardDetails">
          <ion-button class="left" (click)="onClickToggleButton(DAILY)" [ngClass]="{'active':selectedPeriod===DAILY}">{{DAILY | titlecase}}</ion-button>
          <ion-button class="right" (click)="onClickToggleButton(WEEKLY)" [ngClass]="{'active':selectedPeriod===WEEKLY}">{{WEEKLY | titlecase}}</ion-button>
        </div>
      </div>
      <ion-spinner *ngIf="isChartsDataLoading else chartsContent" name="dots"></ion-spinner>
      <ng-template #chartsContent>
        <image-card *ngFor="let chart of charts" [isLoading]="isChartsDataLoading" [imageBase64]="chart.imageBase64" [reportName]="chart.reportName"></image-card>
        <div *ngIf="!hasDashboardDetails else noReports" class="error-message">
            <ion-icon name="warning-outline"></ion-icon>
            <p>Failed to load the dashboard</p>
            <small>Please reach out to tekVizion support.</small>
        </div>
        <ng-template #noReports>
          <div *ngIf="charts.length===0" class="error-message">
              <p>No Reports available</p>
          </div>
        </ng-template>
      </ng-template>
      <!-- <ion-button fill="clear">
        Request Dev Contact Me
        <ion-icon slot="end" name="information-circle-outline"></ion-icon>
      </ion-button> -->
    </div>
  </div>
</ion-content>
