<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433974285608-9v9aindhc8ca5amcqddo7d1govhtr3dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433974285608-9v9aindhc8ca5amcqddo7d1govhtr3dp</string>
	<key>API_KEY</key>
	<string>AIzaSyDv7mduWMcsvo2UpRAcnqWct4J0Cbr8lnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>433974285608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tekvizion.spotlight</string>
	<key>PROJECT_ID</key>
	<string>spotlight-integration</string>
	<key>STORAGE_BUCKET</key>
	<string>spotlight-integration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433974285608:ios:83a8482747e24f8728ac1d</string>
</dict>
</plist>