name: Continuous testing in Integration

on:
  schedule:
    - cron: '0 */2 * * *'
permissions: write-all
env:
  WORKING_DIR: "./app"
  JAVA_VERSION: '11'

jobs:
  android-test:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Setup Java Sdk ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - name: Install dependencies
        working-directory: ${{ env.WORKING_DIR }}
        run: npm install
      - name: Install ionic
        run: npm install -g @ionic/cli
      - name: Install Appium
        run: |
          npm install -g appium@next
          appium driver install uiautomator2
          chmod +x ./android/gradlew
          sed 's,http://localhost:7071/v1.0,https://tekvlicenseserverpocfunction.azurewebsites.net/v1.0,g' src/environments/environment.ts > changed.ts && mv changed.ts src/environments/environment.ts
          appium &

      - name: Set Integration Android test credentials
        run: |
          echo -e "subAccountAndroidUser=${{ secrets.AZURE_SUBACCOUNT_USER_NAME_ANDROID }}" >> ./tests/ui/src/main/resources/integration.properties
          echo -e "subAccountAndroidPassword=${{ secrets.AZURE_SUBACCOUNT_PWD_ANDROID }}" >> ./tests/ui/src/main/resources/integration.properties
          
      - name: Run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          arch: x86_64
          profile: pixel_xl
          cores: 2
          ram-size: 5120M 
          sdcard-path-or-size: 2000M
          avd-name: Pixel
          force-avd-creation: false
          emulator-options: -no-window -gpu guest -noaudio -no-boot-anim -camera-back none -accel on
          disable-animations: true
          working-directory: ./app
          script: |
            ionic capacitor run android --no-sync --target Pixel
            mvn test -PandroidTests -f ../tests/pom.xml -DdeviceUDID="emulator-5554" -q
      - name: Archive test results
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: android-functional-test-report
          path: tests/reports

  ios-test:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Install ionic
        run: npm install -g @ionic/cli

      - name: Install Appium
        run: |
          npm install -g appium@next
          appium driver install xcuitest
          sed 's,http://localhost:7071/v1.0,https://tekvlicenseserverpocfunction.azurewebsites.net/v1.0,g' src/environments/environment.ts > changed.ts && mv changed.ts src/environments/environment.ts
          appium &

      - name: Set Integration IOS test credentials
        run: |
          echo -e "subAccountIosUser=${{ secrets.AZURE_SUBACCOUNT_USER_NAME_IOS }}" >> ./tests/ui/src/main/resources/integration.properties
          echo -e "subAccountIosPassword=${{ secrets.AZURE_SUBACCOUNT_PWD_IOS }}" >> ./tests/ui/src/main/resources/integration.properties

      - name: emulators list
        run: ionic cap run ios --list

      - name: Set device_id
        run: echo "DEVICE_ID=$(ionic cap run ios --list |  grep 'iPhone 13' | grep -v 'mini' | grep -v 'Max' | grep -v '13 (' | cut -d "|" -f3 | cut -d " " -f2)" >> $GITHUB_ENV

      - name: run emulator
        working-directory: ${{ env.WORKING_DIR }}
        run: ionic capacitor run ios --no-sync --target ${{ env.DEVICE_ID }}

      - name: Run functional tests
        run: mvn test -PiosTests -f ../tests/pom.xml -DdeviceUDID=${{ env.DEVICE_ID }} -q

      - name: Archive test results
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: ios-functional-test-report
          path: ${{ github.workspace }}/tests/reports

      # - name: Debug on failure
      #   if: success() || failure()
      #   uses: mxschmitt/action-tmate@v3
